#nav-bar {
  position: fixed;
  top: 0;
  height: 80px;
  width: 100%;
  background-color: #00a087;
  color: #e8fdff;
  padding-left: 2em;
  padding-left: 2em;
}

#nav-bar .logo {
  height: 80px;
  width: 80px;
  float: left;
}

#nav-bar .header {
  font-size: 200%;
  line-height: 250%;
  float: left;
}

#nav-bar .compose {
float: right;
margin: 10px;
background-color: #ebfafa;
color: #00a087;
height: 60px;
width: 100px;
border-style: solid;
border-color: black;
border-width: 2px;
border-radius: 5px;
font-size: 130%;
}

#nav-bar .compose:hover {
float: right;
margin: 10px;
background-color: white;
color: black;
height: 60px;
width: 100px;
border-style: solid;
border-color: black;
border-width: 2px;
border-radius: 5px;
font-size: 130%;
}