#body .new-tweet {
  display: none;
  border-width: 10px;
  background-color: #F0F0F0;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  margin: 30px;
  padding: 10px;
}

#body .new-tweet h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  color: #666666;
}

#body .new-tweet span {
  font-style: italic;
  float: right;
  padding-top: 5px;
  padding-right: 10px;
}

#body .new-tweet textarea {
  width: 100%;
  margin-top: 15px;
  padding-top: 6px;
  padding-left: 6px;
}

.error-container {
  display: none;
  border-width: 10px;
  background-color: #ffe6e6;
  border-radius: 5px;
  border-color: #ff9999;
  border-style: solid;
  border-width: 3px;
  margin: 30px;
  padding: 10px;
  color: #ff9999;
}






