body .tweet {
  border-width: 10px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #a6a6a6;
  margin: 30px;
}

/* HOVER STATES */

.tweet:hover {
 /* border-width: 10px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;*/
  border-color: #000000;
  /*margin: 30px;*/
}

.tweet:hover .tweet-handle {
  color: #666666;
}

.tweet:hover .tweet-name {
  color: #000000;
}

.tweet:hover .icons {
  visibility: visible;
}

.tweet .icons {
  visibility: hidden;
  float: right;
  padding: 10px;
}

.icons .flag,
.icons .share,
.icons .heart {
  height: 20px;
  width: 20px;
}

#body .tweet-container header {
  background-color: #F0F0F0;
  height: 65px;
  border-radius: 5px;
}


.tweet .tweet-handle {
  float: right;
  padding-top: 15px;
  padding-right: 7px;
  color: #a6a6a6;
}

.tweet .tweet-name {
  padding-top: 8px;
  padding-left: 4px;
  float: left;
  font-weight: bold;
  font-size: 30px;
  color: #666666;
}



.tweet .avatar {
  height: 60px;
  width: 60px;
  float: left;
  padding: 7px;
  border-radius: 13px;
}

.tweet .tweet-content {
  height: 100px;
  vertical-align: middle;
  font-size: 20px;
  padding: 7px;
  overflow-wrap: break-word;
}

.tweet .tweet-footer {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #F0F0F0;
  height: 40px;
  width: 100%;
}

.tweet .days-ago {
  padding: 10px;
  display: inline-block;
}








